/* POPPINS */
@font-face {
  font-family: 'Poppins';
  font-weight: 900;
  font-style: normal;
  src: url('../../src/fonts/Poppins/Poppins-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: normal;
  src: url('../../src/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-style: normal;
  src: url('../../src/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: normal;
  src: url('../../src/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 100;
  font-style: normal;
  src: url('../../src/fonts/Poppins/Poppins-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 100;
  font-style: italic;
  src: url('../../src/fonts/Poppins/Poppins-ThinItalic.ttf') format('truetype');
}
